@import "/src/app/mixins.scss";
:host {
  position: fixed;
  bottom: 150px;
  right: 15px;
}

.widget-wrapper {
  @include flex-column-space-between;
  width: 48px;
  height: 80px;
  background-color: #2e3139;
  border-radius: 100px;
  font-family: "Montserrat-Medium", sans-serif;
}

.widget-data {
  text-align: center;
  margin: auto;
  span {
    color: #00a83c;
    font-family: "NotoSansGeorgian-SemiBold", sans-serif;
    font-size: 12px;
  }
}

.widget-info {
  @include widget-style(#ffffff26, 100px, 48px);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 8.8px;
  cursor: pointer;
  & span {
    font-size: 14px;
    /* ამის მაგივრად მატერიალის აიქონი */
  }
  div span:nth-child(1) {
    font-weight: bold;
    font-size: 8.8px;
    line-height: 11px;
  }
  div span:nth-child(2) {
    display: block;
    font-weight: normal;
    font-size: 7.26px;
    line-height: 9px;
  }
}

.widget-info.active {
  background-color: #00a83c;
  /* როცა summe 0 ზე მეტია */
}
