<div appDragDrop class="widget">
    <app-widget-content *ngIf="showTotalInfos"></app-widget-content>
    <div class="widget-wrapper" [ngStyle]="{'height': showTotalInfos ? 'auto' : '80px'}">
        <div *ngIf="!showTotalInfos" class="widget-data">
            <span>{{bonusSumme.toLocaleString().replace('.', ' ')}}</span>
        </div>
        <div class="widget-info" [ngClass]="{'active': isActive}" (click)="toggleShowInfos()">
            <span *ngIf="showCloseIcon">X</span>
            <div *ngIf="!showCloseIcon">
                <span>BONUS</span>
                <span>ROUNDS</span>
            </div>
        </div>
    </div>
</div>