@mixin flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin widget-style($color: #ffffff26, $radius: 100px, $size: 48px) {
  background-color: $color;
  border-radius: $radius;
  width: $size;
  height: $size;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
