<div class="widget-content-wrapper">
    <div class="info-box">
        <span class="total">{{bigWin}}</span>
        <div>
            <span>IMG</span>
        </div>
    </div>
    <div class="info-box">
        <span class="total">{{depositBonus}}</span>
        <div>
            <span>DEPOSIT</span>
            <span>BONUS</span>
        </div>
    </div>
    <div class="info-box">
        <span class="total">{{authBonus}}</span>
        <div>
            <span>AUTH</span>
            <span>BONUS</span>
        </div>
    </div>
</div>