<div class="widget-content-wrapper">
    <div class="info-box">
        <span class="total">12</span>
        <div>
            <span>AUTCH</span>
            <span>BONUS</span>
        </div>
    </div>
    <div class="info-box">
        <span class="total">12</span>
        <div>
            <span>AUTCH</span>
            <span>BONUS</span>
        </div>
    </div>
    <div class="info-box">
        <span class="total">12</span>
        <div>
            <span>AUTCH</span>
            <span>BONUS</span>
        </div>
    </div>
</div>