/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #313131;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto 50px;
    overflow: hidden;
    color: white;
}

header {
    background-color: rgb(0, 0, 0);
}

main {
    position: relative;
    overflow-y: auto;
}

.chat {
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 48px;
    height: 48px;
    background-color: red;
    border-radius: 100%;
}

footer {
    background-color: rgb(0, 0, 0);
}